<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QUANLYNHANVIENConnectionString"
            connectionString="Data Source=ENVY;Initial Catalog=QUANLYNHANVIEN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>